@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #FFFFFF;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased selection:bg-white selection:text-black;
    background-color: #000000;
  }

  /* Reset all rounded corners just in case */
  * {
    border-radius: 0px !important;
  }
}

@layer components {

  /* Raw Input Style */
  .raw-input {
    @apply bg-transparent border-b-2 border-white/20 text-xl font-mono py-2 w-full focus:outline-none focus:border-white transition-none placeholder:text-white/20;
  }

  /* The "Monolith" Text Effect */
  .monolith-text {
    @apply font-bold tracking-tighter leading-[0.8];
  }

  /* Utility to invert colors on hover */
  .hover-invert {
    @apply hover:bg-white hover:text-black transition-colors duration-75;
  }
}